<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("../partials/head") %> 
    <!--<link rel="stylesheet" href="/styles/register.css">-->
</head>
<body class="">

    <div class="big-container bg-color-blue-dark">
        <img src="/images/imagenRegister.png" alt="" srcset="" class="imagen-register">
        <h2  class="color-or">Crea un nueva unidad</h2>
        <form action="/unit/create" class="form" method="POST"id="formulario" 
        enctype="">
        <h2 style="color: aliceblue;">Selecciona a que modulo pertenecera dicha unidad:</h2>
        <% modules.forEach(module => {%>
            <h3 style="color: aliceblue;"><%= module.id %> - <%= module.title %> </h3>

            <% }); %>

        <input type="number" required class="input-from-register" 
        placeholder="Modulo numero..."  id="id_modulo" name="id_modulo"
        value="<%= locals.old && old.id_modulo %>">
        <% if (locals.errors && errors.id_modulo) { %>
            <p style="color: white">
                <%= errors.id_modulo.msg %>
            </p>
            <% } %>

        <input type="text" required class="input-from-register" 
        placeholder="Titulo de la unidad"  id="title" name="title"
        value="<%= locals.old && old.title %>">
        <% if (locals.errors && errors.title) { %>
            <p style="color: white">
                <%= errors.title.msg %>
            </p>
            <% } %>


        <input type="text" required class="input-from-register" 
        placeholder="Descripcion de la unidad"  id="description" name="description"
        value="<%= locals.old && old.description %>">
        <% if (locals.errors && errors.description) { %>
            <p style="color: white">
                <%= errors.description.msg %>
            </p>
            <% } %>


        <input type="text" required class="input-from-register" 
        placeholder="Video"  id="video" name="video" 
        value="<%= locals.old && old.video %>">
        <% if (locals.errors && errors.video) { %>
            <p style="color: white">
                <%= errors.video.msg %>
            </p>
            <% } %>
           
            <button  class="button-from-register bg-color-blue-dark  bg-color-or"type="submit">Crear modulo</button>
        </form>
        
    </div>
</body>
</html>