<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("../partials/head") %> 
    <link rel="stylesheet" href="/styles/header2.css">
    
    <link rel="stylesheet" href="/styles/register.css">
    <link rel="stylesheet" href="/styles/unitDetail.css">
</head>
<body class="background-blue">
    <header>
        <!--INICIO DEL HEADER -->
        <section class="button-of-header-container">
         <a class="background-orange"href="http://localhost:3000/module">
            <button class="background-orange white">
                ←
            </button>
         </a>
        </section>
    <!--FIN DEL HEADER-->
    </header>
<main>

    <section class="big-container" >
            <h1 class="white"><%= unit.title %></h1>


            <article class="info-container">
                <iframe src="<%= unit.video %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                <div class="info">
                    <h4>
                        <%= unit.description %>
                    </h4>

                    <h6>Pertenece al modulo:  <%= module.title %></h6>


                </div>
            </article>
    </section>
</main>
</body>
</html>