<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("../partials/head") %> 
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body class="">

    <div style="display: block;" >
        <h1 style="display: block;">La unidad que has seleccionado es:<%= unit.title %> </h1>

        <br>

        <h4 style="display: block;"> Su descripcion es:</h4>
        <h5 style="display: block;" > <%= unit.description %> </h5>
    
        <h3>Corresponde al modulo llamado: </h3>
        <h1><%= unit.modules.title %>  </h1>
        <p style="display: block;">
            <%= unit.modules.shorDescription %>
        </p>
    </div>
  
</body>
</html>