<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/colors.css">
    <link rel="stylesheet" href="/styles/register.css">
    <link rel="stylesheet" href="/styles/normalice.css">
</head>
<body class="">
    <main class="background-blue">
        <section>
            <img src="/images/rebolucionLogoWeb.png" alt="" srcset="" class="imagen-register">
        </section>
    <section class="big-container bg-color-blue-dark">
        <div class="background-orange"></div>
        <h2  class="lightblue">Inicia sesion</h2>
        <div class="background-light-color-box-from-behind">
        <form action="/user/login" class="form background-light-color" method="POST" id="formulario" 
        enctype="">
            
            <input type="email" required class="input-from-register background-from-inputs"
             placeholder="Correo electronico"  id="email" name="email"
             value="<%= locals.old && old.email %>"
             >
             <% if (locals.errors && errors.email) { %>
                <p style="color: white">
                    <%= errors.email.msg %>
                </p>
                <% } %>



            <input type="password" required class="input-from-register background-from-inputs" 
            placeholder="Contraseña" id="password" name="password"
            value="<%= locals.old && old.password %>">
            <% if (locals.errors && errors.password) { %>
                <p style="color: white">
                    <%= errors.password.msg %>
                </p>
                <% } %>


            <p class="color-or p-from-register ">Si aun no tienes cuenta <a 
                class="a-from-register color-or" href="/user/register">create una</a></p>
           
            <button  class="button-from-register bg-color-blue-dark  bg-color-or" type="submit">
                Iniciar</button>
        </form>
    </div>
    </section>
</main>
</body>
</html>