<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/register.css">
    <script src="/js/userRegister.js"></script>
</head>
<body class="background-blue">
    <main >
        <section class="section"> 
            <img src="/images/rebolucionLogoWeb.png" alt="" srcset="" class="imagen-register">
        </section>
    <section class="big-container bg-color-blue-dark ">
        <div class="title-container">
        <div class="background-orange or-bar"></div>
        <h1 class="lightblue">Register</h1>
        </div>

        <div class="false-box background-light-color-box-from-behind">
        <form action="/user/register" class="form background-light-color" method="POST"id="formulario" 
        enctype="">
            

            <input type="email" required class="login-input" 
            placeholder="Correo electronico"  id="email" name="email"
            value="<%= locals.old && old.email %>" >
    
            <div class="input-flex-container">
            <input type="text" required class="login-input"
            placeholder="Nombre" id="name" name="name"
            value="<%= locals.old && old.name %>" >
            

            <input type="text" required class="login-input"
            placeholder="Apellido" id="lastname" name="lastname"
            value="<%= locals.old && old.lastname %>" >
            </div>
            <div class="input-flex-container">
            <input class="login-input phoneNumber" id="phone"type="string" name="phone"
             placeholder="Telefono"
             value="<%= locals.old && old.phone %>" >
             <span class="error" id="error"></span>
          

            
            <input type="text" required class="login-input"placeholder="Pais" id="country
            " name="country" value="<%= locals.old && old.country %>" > 
            </div>
            <div class="input-flex-container">

            <input type="text" required class="login-input"placeholder="Estado o Provincia" 
            id="state" name="state" value="<%= locals.old && old.state %>" > 
           
            <input type="text" required class="login-input"placeholder="Ciudad" id="city
            " name="city" value="<%= locals.old && old.city %>" > 
        </div>
                <input type="password" required class="login-input" 
            placeholder="Contraseña" id="password" name="password"
            value="<%= locals.old && old.password %>" >
          

                <input type="password" required class="login-input" 
            placeholder="Repita su contraseña" id="rePassword" name="rePassword"
            value="<%= locals.old && old.password %>" >

            <!--MOSTRAR MSJ SI HAY ERRORES-->

            <% if (locals.errors && errors.email) { %>
                <p class="error orange"  >
                    <%= errors.email.msg %>
                </p>
                <% } %>
                
            <% if (locals.errors && errors.email) { %>
                    <p class="error orange"  >
                        <%= errors.email.msg %>
                    </p>
                    <% } %>

           <% if (locals.errors && errors.email) { %>
                        <p class="error orange"  >
                            <%= errors.email.msg %>
                        </p>
                        <% } %>
           <% if (locals.errors && errors.name) { %>
                            <p class="error orange"  >
                                <%= errors.name.msg %>
                            </p>
                            <% } %>
           <% if (locals.errors && errors.lastname) { %>
                                <p class="error orange"  >
                                    <%= errors.lastname.msg %>
                                </p>
                                <% } %>

           <% if (locals.errors && errors.phone) { %>
                                    <p class="error orange"  >
                                        <%= errors.phone.msg %>
                                    </p>
                                    <% } %>

           <% if (locals.errors && errors.country) { %>
                                        <p class="error orange"  >
                                            <%= errors.country.msg %>
                                        </p>
                                        <% } %>

           <% if (locals.errors && errors.state) { %>
                                            <p class="error orange"  >
                                                <%= errors.state.msg %>
                                            </p>
                                            <% } %>

           <% if (locals.errors && errors.city) { %>
                                                <p class="error orange"  >
                                                    <%= errors.city.msg %>
                                                </p>
                                                <% } %>

           <% if (locals.errors && errors.password) { %>
                                                    <p class="error orange"  >
                                                        <%= errors.password.msg %>
                                                    </p>
                                                    <% } %>
           <% if (locals.errors && errors.rePassword) { %>
                                                        <p class="error orange"  >
                                                            <%= errors.rePassword.msg %>
                                                        </p>
                                                        <% } %>

                                                        <% if (locals.errors && errors.reEmail) { %>
                                                            <p class="error orange"  >
                                                                <%= errors.reEmail.msg%>
                                                            </p>
                                                            <% } %>
                                                            <% if (listOfErrors) { %>
                                                                <p class="error orange"  >
                                                                    <%= listOfErrors.msg%>
                                                                </p>
                                                                <% } %>
                                                        
                                                    



            <!---FIN ERRORES-->

            <p class="white p-from-login ">Si ya tienes cuenta 
                <a class="lightblue" href="/user/login">inicia sesion</a></p>
           
                <div class="btn-container">
                    <input type="submit" 
                    name="sumbit" class="button white background-orange "id="" 
                    value="➜">
                        </div>
        </form>
    </div>
</section>
</main>
</body>
</html>