<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/register.css">
    <script src="/js/userRegister.js"></script>
</head>
<body class="background-blue">
    <main >
        <section class="section"> 
            <img src="/images/rebolucionLogoWeb.png" alt="" srcset="" class="imagen-register">
        </section>
    <section class="big-container bg-color-blue-dark ">
        <div class="title-container">
        <div class="background-orange or-bar"></div>
        <h1 class="lightblue">Register</h1>
        </div>

        <div class="false-box background-light-color-box-from-behind">
        <form action="/user/register" class="form background-light-color" method="POST"id="formulario" 
        enctype="">
            

            <input type="email" required class="login-input" 
            placeholder="Correo electronico"  id="email" name="email"
            value="<%= locals.old && old.email %>" >
            <% if (locals.errors && errors.email) { %>
                <p >
                    <%= errors.email.msg %>
                </p>
                <% } %>
            
            <input type="text" required class="login-input"
            placeholder="Nombre completo" id="name" name="name"
            value="<%= locals.old && old.name %>" >
            <% if (locals.errors && errors.name) { %>
                <p >
                    <%= errors.name.msg %>
                </p>
                <% } %>

            <input type="text" required class="login-input"
            placeholder="Apellido" id="lastname" name="lastname"
            value="<%= locals.old && old.lastname %>" >
            <% if (locals.errors && errors.lastname) { %>
                <p >
                    <%= errors.lastname.msg %>
                </p>
                <% } %>

            <input class="login-input phoneNumber" id="phone"type="string" name="phone"
             placeholder="Ingresa tu número de celular"
             value="<%= locals.old && old.phone %>" >
             <span class="error" id="error"></span>
            <% if (locals.errors && errors.phone) { %>
                <p >
                    <%= errors.phone.msg %>
                </p>
                <% } %>

            
            <input type="text" required class="login-input"placeholder="Pais" id="country
            " name="country" value="<%= locals.old && old.country %>" > 
            <% if (locals.errors && errors.country) { %>
                <p >
                    <%= errors.country.msg %>
                </p>
                <% } %>

            <input type="text" required class="login-input"placeholder="Estado o Provincia" 
            id="state" name="state" value="<%= locals.old && old.state %>" > 
            <% if (locals.errors && errors.state) { %>
                <p >
                    <%= errors.state.msg %>
                </p>
                <% } %>

            <input type="text" required class="login-input"placeholder="Ciudad" id="city
            " name="city" value="<%= locals.old && old.city %>" > 
            <% if (locals.errors && errors.city) { %>
                <p >
                    <%= errors.city.msg %>
                </p>
                <% } %>

                <input type="password" required class="login-input" 
            placeholder="Contraseña" id="password" name="password"
            value="<%= locals.old && old.password %>" >
            <% if (locals.errors && errors.password) { %>
                <p >
                    <%= errors.password.msg %>
                </p>
                <% } %>


                <input type="password" required class="login-input" 
            placeholder="Repita su contraseña" id="rePassword" name="rePassword"
            value="<%= locals.old && old.password %>" >
            <% if (locals.errors && errors.rePassword) { %>
                <p class="error" >
                    <%= errors.rePassword.msg %>
                </p>
                <% } %>

            <p class="white p-from-login ">Si ya tienes cuenta 
                <a class="lightblue" href="/user/login">inicia sesion</a></p>
           
                <div class="btn-container">
                    <input type="submit" 
                    name="sumbit" class="button lightblue background-orange "id="" 
                    value="➜">
                        </div>
        </form>
    </div>
</section>
</main>
</body>
</html>