<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("../partials/head") %> 
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/aviso.css">
    <link rel="stylesheet" href="/styles/header2.css">
</head>
<body class="background-blue">
    <header>
        <!--INICIO DEL HEADER -->
        <section class="button-of-header-container">
         <a class="background-orange"href="http://localhost:3000">
            <button class="background-orange white">
                ←
            </button>
         </a>
        </section>
    <!--FIN DEL HEADER-->
    </header>
    
    <main>
        <section class="big-container">
            <div class="title-container">
                <div class="background-orange or-bar"></div>
                <h1 class="lightblue">Modulos</h1>
                </div>
        </article>
        </section>

        <section class="principal-section">  
            <section class="sub-section">
            <% modules.forEach(module => {%>
              <div class="false-box background-light-color-box-from-behind">
                <div class="background-light-color  div-inside">
                  <img src="/images/modulesImages/ <%= module.image %>" alt="">
                  <h5 class="white">
                    <%= module.title %>
                  </h5>
                  <h6 class="white">
                    Dificultad: <%= module.difficulty %>/10
                  </h6>
                  <a href="http://localhost:3000/module/<%= module.id %>">
                    <button>
                        Iniciar
                    </button>
                  </a>
                </div>
              </div>
          <% }); %>
            
        </section>

        <!---
    <section class="row fit notFlex">
       <article class="col-md-10 indexFlex ">
            <% modules.forEach(module => {%>
            
                <div class="p-3 justBorderIndex  bg-light tripCard">
                    <div>
                        <div class="img-card">
                            <img class="imgIndex" width="100%" 
                            src="/images/modules-images/<%= module.image %>" 
                            alt="<%= module.title %> " />
                        </div>
            
                        <p  height="fit-content" class="text-card"><%= module.shortDescription %> </p>
                        <button class="seeDetailsButton">
                        <a href="/module/<%= module.id %>">
                        <input class="seeDetailsInput" type="submit" value="Ver detalles"> 
                        </a>

                        <p  height="fit-content" class="text-card">Nivel de dificultad :<%= module.difficulty %>/10 </p>
                        </button>
                    </div>
                </div>
            <% }); %>
        </article>
    </section>
-->
</main>
</body>
</html>