<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("../partials/head") %> 
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body class="">
    <main>
    <section style="display: block;" >
        <h1 style="display: block;">El modulo que has seleccionado es el <%= module.title %> </h1>

        <br>

        <h4 style="display: block;"> Su descripcion es:</h4>
        <h5 style="display: block;" > <%= module.shortDescription %> </h5>
    
        <h3>Sus unidades son : </h3>
        <h1><%= module.unitss.title %>  </h1>
        <p style="display: block;">
            <%= module.unitss.description %>
        </p>
    </section>
</main>
</body>
</html>