<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Edita tu perfil</title>
</head>
<body>
    <main>
        <section>
    <h2 style="display: block;">Edita tus datos:</h2>

    <form action="/user/my-profile/edit?_method=PUT" method="POST">
        <label for="">Email</label>
        <input name="email" type="text" value="<%= user.email%>">
        <label for="">Nombre</label>
        <input name="name"type="text" value="<%= user.name%>">
        <label for="">Apellido</label>
        <input name="lastname"type="text" value="<%= user.lastname%>">
        <label for="">Celular</label>
        <input name="phone"type="text" value="<%= user.phone%>">
        <label for="">Pais</label>
        <input name="country"type="text" value="<%= user.country%>">

        <label for="">Estado o provincia</label>
        <input name="state"type="text" value="<%= user.state%>">
        <label for="">Ciudad</label>
        <input name="city"type="text" value="<%= user.city%>">

        <label for="">Password</label>
        <input name="password" type="text" value="<%= user.password%>">

        <input type="submit" value="Editar">
    </form>
</section>
</main>
</body>
</html>