<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("../partials/head") %> 
    <link rel="stylesheet" href="/styles/header2.css">
    <link rel="stylesheet" href="/styles/aviso.css">
    <link rel="stylesheet" href="/styles/userProfile.css">
    <title>Mi perfil</title>
</head>
<body class="background-blue">
    <header>
        <!--INICIO DEL HEADER -->
        <section class="button-of-header-container">
         <a class="background-orange"href="http://localhost:3000">
            <button class="background-orange white">
                ←
            </button>
         </a>
        </section>
    <!--FIN DEL HEADER-->
    </header>
    <main>
        <section class="big-container">
            <div class="title-container">
                <div class="background-orange or-bar"></div>
                <h1 class="white">Mi perfil</h1>
                </div>
        </section>
    <section>

        <section class="sub-section">
            
              <div class="false-box background-light-color-box-from-behind">
                <div class="background-light-color  div-inside">

                    <div class="icon-container">
                        <div class="icon">
                            <i class=" orange fa-solid fa-user"></i>
                        </div>
                    </div>

                    <div class="name-container">
                        <h3 class="white">¡Hola, <%= locals.loggedUser.name  %>!</h3>
                    </div>
                      <label class="white"for="">Nombre:</label>
                    <input type="text" readonly value="<%= locals.loggedUser.name  %>">

                    <label class="white"for="">Apellido:</label>
                    <input type="text" readonly value="<%= locals.loggedUser.lastname  %>">

                    <label class="white"for="">Email:</label>
                    <input type="text" readonly value="<%= locals.loggedUser.email  %>">

                    <label class="white"for="">Celular:</label>
                    <input type="text" readonly value="<%= locals.loggedUser.phone  %>">

                    <label class="white"for="">País:</label>
                    <input type="text" readonly value="<%= locals.loggedUser.country  %>">

                    <label class="white"for="">Estado o Provincia:</label>
                    <input type="text" readonly value="<%= locals.loggedUser.state  %>">
                    
                    <label class="white"for="">Ciudad:</label>
                    <input type="text" readonly value="<%= locals.loggedUser.city  %>">


                    <div class="container-ofButtons">
                        <a href="http://localhost:3000/user/my-profile/edit">
                            <button class="background-orange white">Editar datos</button>
                        </a>

                        <a href="http://localhost:3000/user/my-profile/edit/my-password">
                            <button class="background-orange white">Cambiar contraseña</button>
                        </a>
                    </div>
                </div>
              </div>
            
        </section>
        <!--
    <h2 style="display: block;">Mis datos:</h2>
    <h4 style="display: block;">Email: <%= locals.loggedUser.email  %></h4>
    <h4 style="display: block;">Nombre:<%= locals.loggedUser.name  %></h4>
    <h4 style="display: block;">Apellido:<%= locals.loggedUser.lastname  %></h4>
    <h4 style="display: block;">Celular: <%= locals.loggedUser.phone  %></h4>
    <h4 style="display: block;">Ciudad:<%= locals.loggedUser.city  %></h4>
    <h4 style="display: block;">Estado o provincia: <%= locals.loggedUser.state  %></h4>
    <h4 style="display: block;">Pais:<%= locals.loggedUser.country  %></h4>

    <button><a href="/user/my-profile/edit/">Editar datos</a></button>
    <button><a href="/user/my-profile/edit/my-password">Cambiar contraseña</a></button>
    <button><a href="/user/my-profile/logout">Cerrar session</a></button>

    -->
</section>
</main>
</body>
</html>
